/* body{


} */



h1{
    
    left: 50%;
    position: fixed;
    top: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);


    background-color: black;
    color: white;
    border-radius: 5px;
    width: auto;

}

button{

    left: 50%;
    position: fixed;
    top: 57%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);


}